.container-stage-form {
	display: flex;
	gap: 10px;
	margin: 20px;
}

.container-stage {
	margin: 20px;
}

* {
	box-sizing: border-box;
}

.container-stage-canvas {
	flex: 1 1;
	height: 800px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0%;
	/* background: #d3d3d3; */
	display: -moz-box;
	/* display: flex; */
	-moz-box-orient: vertical;
	/* flex-direction: column; */

}
